<%- partial('../../layouts/admin-sidebar.ejs', {selmenu: 'sitePress'}) %>
<!--************ Alert Start *************-->
<%- partial('../../admin/partial/alert.ejs', {flashMsgError: flashMsgError, flashMsgSuccess: flashMsgSuccess}) %>

<!--************ Alert End *************-->
<!-- BEGIN #content -->
<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Press</li>
        <li class="breadcrumb-item"><a href="/admin/user/index">All Press</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
    <h1 class="page-header">Edit <small>Press</small></h1>
    <div class="row">
        <div class="col-xl-9">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Backend User Form</h4>
                    <div class="panel-heading-btn"> <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a> </div>
                </div>
                <div class="panel-body pt-2" ng-controller="demoController">
                    <form class="needs-validation" name="demo-form" action=<%= formActionTarget %> method="POST" enctype="multipart/form-data" novalidate>
                        <div class="row g-3">
                            <div class="col-xl-8">
                                <label for="details" class="form-label col-form-label-lg pb-0">Details <span class="star">*</span></label>
                                <textarea class="summernote form-control form-control-lg fs-6"  name="details" id="details" minlength="4" maxlength="2500" rows="15" ><%=data.details%></textarea>
                                <% if (status === "Error" && customFieldErrors.details) { %>
                                    <span class="text-danger"><%= customFieldErrors.details.message %></span>
                                <% } %>
                            </div>
                            <div class="col-md-4 bg-light-input">
                                <div class="card h-100 ps-3 border-0">
                                    <div class="bg-light-input">
                                        <label for="title" class="form-label col-form-label-lg pb-1">Press Title <span class="star">*</span></label>
                                        <input type="text" class="form-control form-control-lg fs-6" name="title" id="title" value="<%= data.title %>" placeholder="E. g. About Us" />
                                        <% if (status === "Error" && customFieldErrors.title) { %>
                                            <span class="text-danger"><%= customFieldErrors.title.message %></span>
                                        <% } %>
                                    </div>

                                    <div class="col-md-12 bg-light-input">
                                        <label for="category" class="form-label col-form-label-lg pb-1">Category <span class="star">*</span></label>
                                        <select class="form-select bg-light fs-6" id="category" name="category" >
                                            <option value="">Select Category</option>
                                            <% _.each(allCategory, function (sinItem) { %>
                                                <option value="<%= sinItem.id %>" <%= sinItem.id == data.sitePressCategory ? 'selected' : '' %>><%= sinItem.name %></option>
                                            <% }) %>
                                        </select>
                                        <% if (status === "Error" && customFieldErrors.category) { %>
                                            <span class="text-danger"><%= customFieldErrors.category.message %></span>
                                        <% } %>
                                    </div>

                                    <div class="bg-light-input">
                                        <label for="status" class="form-label col-form-label-lg pb-1">Status <span class="star">*</span></label>
                                        <select class="form-select bg-light fs-6" id="status" name="status" >
                                            <option value="">Please Select</option>
                                            <option value="1" <%= (data.status == 1) ? 'selected' : '' %>>Active</option>
                                            <option value="2" <%= (data.status == 2) ? 'selected' : '' %>>Inactive</option>
                                        </select>
                                        <% if (status === "Error" && customFieldErrors.status) { %>
                                            <span class="text-danger"><%= customFieldErrors.status.message %></span>
                                        <% } %>
                                    </div>


                                    <div class="bg-light-input mb-3">
                                        <label for="image" class="form-label col-form-label-lg pb-1">Image <span class="star">*</span></label>
                                        <div class="d-flex">
                                            <div class="w-100 pe-2">
                                                <input type="hidden" name="oldImage" class="form-control"  id="oldImage" value="<%=data.image%>">
                                                <!-- <input type="file" name="image" id="image" title="image" class="form-control form-control-lg fs-6 image"> -->
                                                <input type="file" id="image" name="image" class="form-control form-control-lg fs-6 ">
                                            </div>
                                            <% if (data.image) { %>
                                                <div class="flex-shrink-1">
                                                    <div class="rounded-circle d-flex justify-content-center align-items-center" alt="Avatar">
                                                        <img class="rounded h-40px rounded-pill" src="/uploads/site-press/<%= data.image %>" alt="Arille">
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                        <% if (status === "Error" && customFieldErrors.image) { %>
                                            <span class="text-danger"><%= customFieldErrors.image.message %></span>
                                        <% } %>
                                    </div>






                                    <div class="mb-2 mt-2">
                                        <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-md btn-dark" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END #content -->
