<%- partial('../../layouts/admin-sidebar.ejs', {selmenu: 'backenduser'}) %>
<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item"><a href="/admin/user/index">Backend Users</a></li>
        <li class="breadcrumb-item active"><%= data.title %> </li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"><%= data.title %><small><%= bProfile.business_name ? bProfile.business_name :  '' %></small></h1>
    <!-- END page-header -->
    <!-- BEGIN row -->
    <div class="row">
        <div class="col-xl-9">
            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <h4 class="panel-title"><%= data.title %></h4>
                    <div class="panel-heading-btn"> <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a> </div>
                </div>
                <div class="panel-bod p-0y">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tbody>
                            <tr>
                                <td><strong>Job Title</strong></td>
                                <td><%= data.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td><%- data.details %></td>
                            </tr>
                            <tr>
                                <td><strong>Published</strong></td>
                                <td><%= data.createdAt ? moment(data.createdAt).format('DD-MMM-YYYY') : 'Not Set yet' %></td>
                            </tr>
                            <tr>
                                <td><strong>Changed</strong></td>
                                <td><%= data.updatedAt ? moment(data.updatedAt).format('DD-MMM-YYYY') : 'Not Set yet' %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Job Details</h4>
                    <div class="panel-heading-btn"> <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a> </div>
                </div>
                <div class="panel-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tbody>
                                <tr>
                                    <td><strong>Job Type</strong></td>
                                    <td>
                                        <% if (data && (data.job_type == 1)) { %>
                                            Full Time
                                        <% } %>
                                        <% if (data && (data.job_type == 2)) { %>
                                            Half Time
                                        <% } %>
                                        <% if (data && (data.job_type == 3)) { %>
                                            Contracttual
                                        <% } %>
                                        <% if (data && (data.job_type == 4)) { %>
                                            Hourly
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Job Level</strong></td>
                                    <td>
                                        <% if (data && (data.job_level == 1)) { %>
                                            Entry Level
                                        <% } %>
                                        <% if (data && (data.job_level == 2)) { %>
                                            Mid Level
                                        <% } %>
                                        <% if (data && (data.job_level == 3)) { %>
                                            High Level
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Department</strong></td>
                                    <td>
                                        <% if (data && (data.department == 1)) { %>
                                            Marketting
                                        <% } %>
                                        <% if (data && (data.department == 2)) { %>
                                            Humenresource
                                        <% } %>
                                        <% if (data && (data.department == 3)) { %>
                                            AccountOfficer
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Current Status</strong></td>
                                    <td class="text-green fw-bold">
                                        <%= (data.status == 1) ? 'Active':'Inactive' %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Views</strong></td>
                                    <td><%= data.views ? data.views : 0 %></td>
                                </tr>
                                <tr>
                                    <td><strong>Applications</strong></td>
                                    <td>0</td>
                                </tr>
                                <!-- <tr>
                                    <td><strong>Last Submission</strong></td>
                                    <td>March 12, 2024</td>
                                </tr> -->
                                <tr>
                                    <td><strong>Date Posted</strong></td>
                                    <td><%= data.createdAt ? moment(data.createdAt).format('DD-MMM-YYYY') : 'Not Set yet' %></td>
                                </tr>
                                <tr>
                                    <td><strong>Date of Expiry</strong></td>
                                    <td><%= data.expiration_date ? moment(data.expiration_date).format('DD-MMM-YYYY') : 'Not Set yet' %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Office Information</h4>
                    <div class="panel-heading-btn"> <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a> </div>
                </div>
                <div class="panel-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tbody>
                            <tr>
                                <td><strong>Company</strong></td>
                                <td><%= bProfile.business_name ?  bProfile.business_name : '' %><a href="#" target="_blank"><i class="fas fa-sm fa-fw fa-up-right-from-square"></i></a></td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td><%= bProfile.Official_address_line1 ?  bProfile.Official_address_line1 : '' %></td>
                            </tr>
                            <tr>
                                <td><strong>City</strong></td>
                                <td><%= bProfile.city ?  bProfile.city : '' %></td>
                            </tr>
                            <tr>
                                <td><strong>State</strong></td>
                                <td><%= bProfile.state ?  bProfile.state.name : '' %></td>
                            </tr>
                            <tr>
                                <td><strong>Zip</strong></td>
                                <td><%= bProfile.zip ?  bProfile.zip : '' %></td>
                            </tr>
                            <tr>
                                <td><strong>Country</strong></td>
                                <td>United States</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Applicant Information</h4>
                    <div class="panel-heading-btn"> <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a> <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a> </div>
                </div>
                <div class="panel-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tbody>
                            <tr>
                                <td><strong> First Name</strong></td>
                                <td>Alamgir</td>
                            </tr>
                            <tr>
                                <td><strong>Last name</strong></td>
                                <td>Hossen</td>
                            </tr>
                            <tr>
                                <td><strong>Phone</strong></td>
                                <td>+880-1722-620039</td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td>ah.cse.ruet@gmail.com</td>
                            </tr>
                            <tr>
                                <td><strong>Cover Letter</strong></td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                            </tr>
                            <tr>
                                <td><strong>Resume</strong></td>
                                <td><a href="#" class="btn btn-xs btn-dark me-5px"><i class="fa fa-download"></i> Download</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- END row -->
</div>
<!-- END #content -->
